p{
  color:red;
  font-size: 14px;
  transition:.2s linear;
  font-weight: 500;
}

label{
    font-size: 16px;
    font-weight: 500;
}


.input_nickname_check_btn {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

 .input_nickname_check_btn input {
    flex: 1;
    font-size: 14px;
}

.input_nickname_check_btn button {
    height: 80%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    &:hover {
        font-weight: 700;
    }
}


.check_btnn {
    height: 50%;
    border-radius: 8px;
    padding: 0 10px;
}

.check_btnn:active {
    background-color: none;
    border-radius: 8px;
    padding: 0 10px;
}

.check_btnn:disabled{
    background-color: none;
    cursor:auto;
}


.check_btnn h5 {
    margin: 0; 
    font-size: 10px; 
}

.check_btnn p {
    white-space: pre-wrap;
    margin: 0;
}



.imageUploadContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .imagePreviewContainer {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .imagePreviewContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .cameraButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f0f0f0;
    text-align: center;
    font-size: 14px;
    color: #333;
    cursor: pointer;
  }
  
  .cameraButton svg {
    width: 20px;
    height: 20px;
  }




  .birthDateContainer {
    margin-top: 10px;
    width: 100%;
    border-bottom: 1px solid #222;
  }
  
  
  .datePickerError {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

  .datePickerInput {
    border: none;
    width: 100%;
    box-sizing: border-box;
  }


  .genderSelectContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .genderLabel {
    margin-right: 10px;
  }
  
  .genderSelect {
    width: 150px;
    height: 30px;
    padding: 5px;
    font-size: 14px;
    appearance: none; /* 기본 스타일링 제거 */
    border: none; /* 테두리 제거 */
    background-color: #f5f5f5; /* 배경색 추가 */
    color: #555; /* 텍스트 색상 추가 */
    cursor: pointer;
    outline: none; /* 포커스 효과 제거 */
    border-radius: 5px; /* 모서리를 부드럽게 만듭니다 */
  }
  


  /* 약관 동의 부분 스타일 */
.agreementContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .agreementCheckbox {
    margin-right: 10px;
  }
  
  .agreementLabel {
    font-size: 16px;
  }
  
  .agreementLink {
    margin-left: 10px;
    color: #007bff; /* 링크 색상 변경 */
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 약관 모달 스타일 */
  .modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  }
  
  .modalContentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 1000px;
    width: 100%;
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
  }
  
  .modalTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  
  .buttonContainer {
    display: flex;
    justify-content: space-between;  /* 두 버튼을 부모 컨테이너 양쪽에 배치 */
    margin-top: 20px;  /* 필요에 따라 여백 조절 */
  }

  .joinButton {
    background:#EF6253;
    color:white;
    display:block;
    width:100%;
    max-width:680px;
    height:50px;
    border-radius:8px;
    margin:0 5px;
    border:none;
    cursor:pointer;
    font-size:14px;
    transition:.2s linear;
    font-weight: 600;
    opacity: 80%;
    &:hover {
        opacity: 100%;
        font-weight: 700;
    }
  }

  /* .joinButton :disabled {
    background:#EF6253;
    width:100%;
    max-width:680px;
    height:50px;
    border-radius:8px;
    margin:0 5px;
    border:none;
    cursor:not-allowed;
    font-size:14px;
    transition:.2s linear;
    font-weight: 600;
    opacity: 80%;
    &:hover {
        opacity: 100%;
        font-weight: 700;
    }
  } */
  
  /* Back 버튼 스타일 */
  .backButton {
    background:#222;
    color:white;
    display:block;
    width:100%;
    max-width:680px;
    height:50px;
    border-radius:8px;
    margin:0 auto;
    border:none;
    cursor:pointer;
    font-size:14px;
    transition:.2s linear;
    font-weight: 600;
    opacity: 80%;
    &:hover {
        opacity: 100%;
        font-weight: 700;
    }
  }
  
  .modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 반투명한 검은 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 모달 배경을 가장 위로 표시 */
  }
  
  .certificate_message {
    margin-top: 10px;
    text-align: left;
    margin-left: 0px;
  }
  
  .input_certificate {
    width: 100%;
    display: flex;
    flex-direction: column; /* 열 방향으로 배치하도록 수정 */
    gap: 10px; /* 간격 설정 */
  }
  
  .certificate_btnn { 
    height: 30px !important;
    border-radius: 8px;
    padding: 0 10px;
    cursor: pointer;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    &:hover {
      font-weight: 700;
    }
  }
  
  .input_certificate button,
  .input_certificate input {
    height: 100%;
  }