
  
  .modalClose {
    display: block;
    position: absolute;
    right: 0;
    top: -30px;
    border: none;
    background-color: transparent;
    color: #eee;
    cursor: pointer;
  }
  
  .modalClose:focus {
    background-color: transparent !important;
    box-shadow: none !important;
  }
  
  .modalClose > i {
    transition: all 0.3s;
    font-size: 24px; /* Adjust the font size as needed */
  }
  
  .modalClose:hover > i {
    color: #ef6253;
  }
  
  .modalTitle {
    font-size: 1.2rem;
    border-bottom: 1px solid #222222;
    padding-bottom: 2%;
    margin-bottom: 5%;
  }
  
  .modalContent ul li {
    margin-bottom: 5%;
    font-weight: 600;
  }
  
  .modalContent ul li span {
    font-weight: lighter;
    color: #9d9d9d;
  }
  
  
  .inputContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .passwordLabel {
    display: block;
    font-size: 20px;
    margin-bottom: 8px;
    width: 20%;
    text-align: center;
    margin-right: 5px;
  }
  
  .passwordInput {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
    height: 30px;
  }
  

  .submitButton {
    background-color: #e2e2e2;
    color: #fff;
    padding: 5px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .submitButton:hover {
    background-color: #222;
  }

  .custom_modal_style {
    background-color: rgba(0, 0, 0, 0.5);
  }