
table {
  border-spacing: 0px;
  border-style: none;
  padding: 0px;}

td {
  border-spacing: 0px;
  border-style: none;
  padding: 0px;
}

.wishListContainer {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 85px;
  user-select: none;
}

.wishListBox {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 70%;
  color: #222;
}

.wishListBox table {
  position: relative;
  margin-bottom: 45px;
}

.wishListTitle {
  width: 1000px;
  font-size: 22px;
  padding-bottom: 8px;
  margin-bottom: 62px;
  border-bottom: 1px solid #222;
  font-weight: 500;
}

.wishListHr {
  width: 1000px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-bottom: 1px solid #222;
  font-weight: 500;
}

.wishListBox th {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  font-weight: normal;
}

.wishListBox td {
  text-align: center;
  border-bottom: 1px solid #222222;
  margin-bottom: 45px;
}


.wishListImg {
  position: relative;
  min-width: 179px;
  min-height: 152px;
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: left;
}

.colWidth10 {
  width: 10%
}

.colWidth15 {
  width: 15%
}

.colWidth20 {
  width: 20%
}

.colWidth25 {
  width: 25%
}

.wishListCursor {
  cursor: pointer;
}

/* .productDescLeft {
  position: relative;
  display: flex;
  text-align: left;
  padding-left: 10px;
} */

.noResult {
  position: relative;
  color: #222;
  font-weight: 500;
  top: 50px;
}