.smallBtn1 {
  width: 95px;
  height: 35px;
  background: inherit ; border:none; box-shadow:none; padding:0; overflow:visible; cursor:pointer;
  border-radius: 5px;
  background-color: #C7C6C6;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
  
.smallBtn2 {
  width: 95px;
  height: 35px;
  background: inherit ; border:none; box-shadow:none; padding:0; overflow:visible; cursor:pointer;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
  
.smallBtn3 {
  width: 95px;
  height: 35px;
  background: inherit ; border:none; box-shadow:none; padding:0; overflow:visible; cursor:pointer;
  border-radius: 5px;
  background-color: #EF6253;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
  
.middleBtn1 {
  width: 190px;
  height: 44px;
  background: inherit ; border:none; box-shadow:none; padding:0; overflow:visible; cursor:pointer;
  border-radius: 5px;
  background-color: #C7C6C6;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
  
.middleBtn2 {
  width: 190px;
  height: 44px;
  background: inherit ; border:none; box-shadow:none; padding:0; overflow:visible; cursor:pointer;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
  
.middleBtn3 {
  width: 190px;
  height: 44px;
  background: inherit ; border:none; box-shadow:none; padding:0; overflow:visible; cursor:pointer;
  border-radius: 5px;
  background-color: #EF6253;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.largeBtn {
  width: 420px;
  height: 68px;
  background: inherit ; border:none; box-shadow:none; padding:0; overflow:visible; cursor:pointer;
  border-radius: 5px;
  background-color: #C7C6C6;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
  
  
  
  