body{
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.headerLayout {
    position: fixed;
    display: flex;
    width: 100%;
    height: 65px;
    min-width: 880px;
    font-size: 20px;
    flex-direction: row-reverse;
    font-weight: 500;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    left: 0px;
    top: 0px;
    z-index: 800;
    background-color: #fff;
    user-select: none;
}


.headerContainter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-right: 5.9%;
}

.headerLogo {
    position: fixed;
    left: 20px;
    top: 8px;
}

.headerNotActive {
    position: relative;
    color: #9d9d9d;
}

.headerNotActive img {
    position: relative;
    top: 2px;
}

.headerActive {
    position: relative;
    color: #EF6253;
}

.headerActive img {
    position: relative;
    top: 2px;
}

.headerMessage {
    position: relative;
    top: 3px;
}

body {
    margin: 0;
}

.headerMargin {
    position: relative;
    width: 100%;
    height: 105px;
}

