.mainBanner .image-gallery-slide img {
    width: 100%;
}

.mainBanner .image-gallery-slide .image-gallery-image {
    min-height: 350px;
    max-height: 350px;
    object-fit: cover;
    width: 100%;
}

.productDetailGallery .image-gallery-slide img {
    width: 400px;
    height: 340px;
    object-fit: fill;
}

.productDetailGallery .image-gallery-slide .image-gallery-image {
    width: 400px;
    height: 340px;
    object-fit: fill;
}