.MainLayout {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    min-width: 1210px;
}

.MainTitle {
    position: relative;
    color: #222;
    font-weight: 500;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.MainTitle img {
    position: relative;
    top: 5px;
    margin-right: 5px;
}

.MainBannerLayout {
    position: relative;
    display: flex;
    justify-content: center;
    top: -39px;
    cursor: pointer;
}

.MainBanner {
    position: relative;
}