* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modalTitle {
  font-size: 1.2rem;
  border-bottom: 1px solid #222222;
  padding-bottom: 2%;
  margin-bottom: 5%;
}

.div{
  width: 100%;
  position: relative;
}

.modal{
    width: 40%;
    margin: 0 auto;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 802;
    /* display: none; */

  }
  
 .modalBg{
    width: 100%;
    height: 100%;
    z-index: 800;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    /* display: none; */
  }
  
  .modalBox{
    width: 100%;
    background-color: #fff;
    padding: 5%;
    border-radius: 10px;
    margin: 0 auto;
    position: fixed;
    box-shadow: 0px 0px 30px #222222;
  }
  
  .modalClose{
    position: absolute;
    right: 0;
    top: -30px;
    border: none;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
  }

  .modalClose:focus{
    background-color: transparent !important;
    box-shadow: none !important;
  }
 
  .modalClose > i {
    transition: all .3s;
  }

  .modalClose:hover > i{
    color:#EF6253;
  }

  .modalTitle {
    font-size: 1.2rem;
    border-bottom: 1px solid #222222;
    padding-bottom: 2%;
    margin-bottom: 5%;
  }
  
  .modalContent ul li{
    margin-bottom: 5%;
    font-weight: 600;
  }
  
  .modalContent ul li span {
    font-weight: lighter;
    color: #9D9D9D;
  }
  
  .textCount{
    color: #9D9D9D;
    font-size: 0.9em;
  }

  .textArea::placeholder{
    color: #9D9D9D;
  }