
.clearfix:before, .clearfix:after{
  display: block;
  content:'';
  clear: both;
}


.barCenter{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paging{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  
  .buttons{
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #C7C6C6;
    color: #C7C6C6;
    cursor: pointer;
    border-right: none ;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lastButton{
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #C7C6C6;
    color: #C7C6C6;
    cursor: pointer;
  }

  .arrowBtn {
    width: 40px;
    height: 34px;
  }

  .numBtn {
    width: 34px;
    height: 34px;
  }
  
  .buttons:active{
    background-color: #222222;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lastButton:active{
    background-color: #222222;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btnDisabled {
    cursor: pointer;
    background-color: #ffffff;
    background-color: #222222;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  