.mergeMain {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    align-content: center;
    height: 1200px;
    width: 1400px;
    margin: 0 auto;
  }