.mergeMain {
    position: relative;
    display: flex;
    align-content: center;
    width: 1067px;
    margin: 0 auto;
  }

.mergeMain:nth-child(6) {
  flex-wrap: wrap;
}

.mergeCategoryFilter {
  position: relative;
  display: flex;
  flex-direction: column;
}