.EditCategory{
    width: 430px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #C7C6C6;
    margin: 15px 80px 35px;
    padding: 10px;
}
.placeBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.nameCount{
    display: flex;
    margin: 45px 0px 0px;
}
.wishCount{
    margin: 10px 0px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    color: #222222;
}
.descCount{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.descLength{
    margin: 10px 5px 10px;
}
.productBox{
    width: 430px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #C7C6C6;
    margin: 0px 99px 35px;
    padding: 10px;
}
/* btn모음 */
.descBox{
    display: flex;
}
/* 라디오 버튼 숨기기 */
input[type="radio"] {
    display: none;
}
.priceFont{
    font-size: 16pt;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    color: #222222;
    margin: 70px 0px 0px;
}
.priceWon{
    margin-top: 20px;
    font-size: 22px;
}
/* 사용자 지정 라디오 버튼 스타일 */
.custom-radio {
    /* position: relative; */
    display: inline-block;
    width: 125px;
    height: 45px;
    border-radius: 5px;
    background-color: #222222;
    cursor: pointer;
    text-align: center;
    line-height: 45px;
    color: #fff;
    /* 텍스트 색상 */
    font-weight: bold;
    /* 폰트 굵기 */
    margin: 57px 20px 0px;
}

.editbtn{
    width: 160px;
    height: 56px;
    background-color: #EF6253;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
}
.editcancle{
    width: 160px;
    height: 56px;
    background-color: #222222;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
}
.btn_all{
    float: right;
    margin-top: 69px;
    margin-right: 60px;
}
.price_font{
    font-size: 16pt;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    color: #222222;
}
/* .PriceBox{
    margin: 15px 120px 35px;
} */
.pricebtn{
    margin: 0px 77px;
}
.shareBox{
    width: 430px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #C7C6C6;
    margin: 15px 35px 35px;
    padding: 10px;
}