.productItemContainer {
  display: flex;
  justify-content: center;
}

.productList {
  max-width: 730px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 27px;
}

.productItem {
  cursor: pointer;
}

.productFilterContainer {
  position: relative;
}

.productFilter {
  position: relative;
  display: flex;
  float: right;
  margin-right: 20px;
  margin-bottom: 46px;
}

.filterName {
  margin-top: 13px;
}
